@import "../styles/colors";

.ingredientsHeaderText {
  color: $blue;
  margin: "0";
}

div hr {
  margin-bottom: 3rem;
  padding-bottom: 0.4rem;
  color: $blue;
  border-radius: 33%;
}

.specialLabel {
  color: $red;
}
